/*
Project Name: Studio Ghibli x Hayao Miyazaki 
Client: Studio Ghibli
Author: Ellie Yanagisawa
Developer @GA in DC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 36px;
}

/** FOR PAGE SCROLL STYLES BY CODEHOUSE **/
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

i {
    display: block;
    height: 2px;
    width: 100%;
    margin-bottom: 5px;
    background: black;
  }


h1 {
  font-family: Futura, Arial, sans-serif;
  font-size: 1.5em;
  text-align: center;
}

p {
  font-family: 'Cardo', serif;
  font-size: 1em;
}

fieldset {

}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.container-fluid-padding {
  padding: 50px;
}

button.enter {
  background-color: ;
}

/** FONT STYLES **/
.h1 {
  font-family: Futura, Arial, sans-serif;
  font-size: 1.5em;
  text-align: center;
}

/** NAV STYLES **/
#nav-button span {
  display: block;
  height: 16px;
  width: 28px;
  float: left;
  margin: -1px 15px 0 0;
}

#nav-button {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  color: black;
  font-family: 'Roboto',Helvetica;
  font-size: 14px;
  text-transform: uppercase;
  padding: 44px 38px;
  cursor: pointer;
}

/** SLIDE-MENU STYLES **/
body.has-active-menu {
  overflow: hidden;
}

.page-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity .3s,width 0s .3s,height 0s .3s;
  transition: opacity .3s,width 0s .3s,height 0s .3s;
}

.page-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.menu__slide-left, .submenu__slide-left {
  position: fixed;
  z-index: 200;
  background-color: #ccc;
  transition: transform 0.3s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.menu__slide-left.is-active, .submenu__slide-left {
  transform: translateX(0);
}

.menu__items {
  list-style: none;
  padding-left: 0;
}

.menu__item {
  display: block;
  text-align: right;
}

.menu__item:first-child {
  border-top: none;
}

.menu__item:last-child {
  border-bottom: none;
}

.menu__link {
  display: block;
  padding: 12px 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.close-button {
  margin: 0 auto;
  border: none;
  display: block;
  padding: 12px 24px;
  width: 100%;
}

.dedication {
  background-color: #ccc;
}

/** TILE STYLES **/
.tile {
  border: 1px solid gray;
  margin-bottom: 5px;
}

@media all and (min-width: 320px) {
  .menu__slide-left {
    width: 300px;
    transform: translateX(-300px);
  }
}

/** SVG ANIMATIONS **/
.contour {
    fill-opacity: 0;
    fill: #747474;
    stroke: #747474;
    stroke-width: .5;
    stroke-miterlimit: 10;
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    animation: draw, fill; 
    animation-delay: 0s, 1.5s;
    animation-duration: 15s, 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

  @keyframes draw {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
    }
  }

  @keyframes fill {
    from { 
      fill-opacity: 0; 
    }
    to { 
      fill-opacity: 1; 
    }
  }

.movie-icon {
  height: 250px;
  margin: 0 auto;
}

.title-english:after {
  border-bottom: 1px solid black;
}

/** QUIZ STYLES **/
.quiz-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.quiz-container__question-container {
  margin: 20px;
  border-radius: 30px;
  padding: 30px;
}

.quiz-container__correct-answer-background {
  background-color: rgba(144,238,144, 0.7);
}

.quiz-container__wrong-answer-background {
  background-color: rgba(240,128,128, 0.7);
}

div#first {
  background-image: url("../images/quizBackgrounds/ohmuandn.jpg");
}

label {
  display: inline-block;
  width: 49%;
  background-color: lightblue;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label, label:focus {
  background-color: grey;
}

.quiz__score-container {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.3s;
  background-color: blue;
}

.quiz__score-container.reveal {
  transform: translateY(0);
}

.quiz__score-container p {
  color: white;
  font-size: 3em;
  text-align: center;
}

.quiz__score-container #reset {
  text-align: center;
}

/** PAGE SCROLL STYLES FROM PLUGIN **/
#fullpage .section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 0 0 0;
}

#fullpage .section:nth-of-type(2) {
  background-image: url("../images/backgrounds/nausicaa.jpg");
}

#fullpage .section:nth-of-type(3) {
  background-image: url("../images/backgrounds/laputa.jpg");
}

#fullpage .section:nth-of-type(4) {
  background-image: url("../images/backgrounds/totoro.png");
}

#fullpage .section:nth-of-type(5) {
  background-image: url("../images/backgrounds/kiki.jpg");
}

#fullpage .section:nth-of-type(6) {
  background-image: url("../images/backgrounds/porco.jpg");
}

#fullpage .section:nth-of-type(7) {
  background-image: url("../images/backgrounds/mononoke.jpg");
}

#fullpage .section:nth-of-type(8) {
  background-image: url("../images/backgrounds/spirited.jpg");
}

#fullpage .section:nth-of-type(9) {
  background-image: url("../images/backgrounds/howl.jpg");
}

#fullpage .section:nth-of-type(10) {
  background-image: url("../images/backgrounds/ponyo.jpg");
}

#fullpage .section:nth-of-type(11) {
  background-image: url("../images/backgrounds/kaze.jpg");
}

/* right nav */
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}

#fp-nav.right {
    right: 17px;
}

.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}

.fp-slidesNav.top {
    top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}

.fp-slidesNav ul li {
    display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}

#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}

#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}


